@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen:700&display=swap');


@media only screen and (max-width: 768px){
    .text-md-end{
        text-align: start !important;
    }
}

hr{box-sizing:content-box;height:0;overflow:visible}
hr{margin-top:1rem;margin-bottom:1rem;border:0;border-top:1px solid rgba(0,0,0,.1)}


*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:10px}
.alert-danger{color:#721c24;background-color:#f8d7da;border-color:#f5c6cb}
.alert-danger .alert-link{color:#491217}
.alert-warning{color:#856404;background-color:#fff3cd;border-color:#ffeeba}
.alert-warning .alert-link{color:#533f03}
.text-secondary{color:#6c757d!important}a.text-secondary:focus,a.text-secondary:hover{color:#494f54!important}
@-webkit-keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.spinner-border{display:inline-block;width:2rem;height:2rem;vertical-align:text-bottom;border:.25em solid currentColor;border-right-color:transparent;border-radius:50%;-webkit-animation:spinner-border .75s linear infinite;animation:spinner-border .75s linear infinite}.spinner-border-sm{width:1rem;height:1rem;border-width:.2em}

.no-select{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.cursor-pointer{
    cursor: pointer;
}

.text-start{
    text-align: start;
}

.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.text-md-end{
    text-align: end;
}

.main-page{
    width: 100%;
    position: relative;
    top:70px;
}

.footer{
    background-color: #dddddd;
}

.footer-col{
    padding: 40px 70px 40px 70px;
}
