.navbar-container{
    height: 70px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.main-logo{
    height: 40px;
}

::placeholder{
    color: white;
}

.search-field{
    display: flex;
    align-items: center;
}

.search-input{
    position: relative;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: #ffa861;
    border: none;
    transition: 0.3s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search-input:focus{
    background-color: #ff9d4d;
    outline: none;
}

.search-button{
    padding: 14px;
    color: white;
    background-color: #ffa861;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-button:focus{
    outline: none;
}

.search-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    position: absolute;
    margin-top: 5px;
    width: 95%;
    background-color: #ededed;
    z-index: 10;
    border-radius: 10px;
    padding: 10px;
}

.results-card{
    background-color: #e0e0e0;
    width: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.results-card:hover{
    background-color: #d1d1d1;
}

.nav-item{
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    background-color: #f2f2f2;
}

.nav-item:active{
    background-color: #e6e6e6;
}