.p-title{
    margin-top: 40px;
    margin-bottom: 13px;
    font-size: 25px;
}

.p-plan-title{
    margin-top: 40px;
    margin-bottom: 13px;
    font-size: 20px;
}

.p-name{
    color: #f2410a;
}

.p-plan-card-name{
    padding: 20px;
    background-color: #e59379;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.p-plan-card-ua{
    padding: 20px;
    background-color: #f2f2f2;
}

.p-plan-card-t{
    padding: 20px;
    background-color: #f2f2f2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.p-card-active{
    background-color: #f2410a;
    color: white;
}

.p-plan-row{
    margin-bottom: 10px;
    transition: transform .2s ease-in-out;
}

.p-plan-row:hover{
    transform: scale(1.01);
}

.p-btn{
    padding:10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 50%;
    background-color: #f2410a;
    color: white;
    transition: 0.3s;
}

.p-btn:hover{
    background-color: #ef4510;
}

.p-btn:active{
    background-color: #d63e0e;
}

.p-btn:focus{
    outline: none;
}

.p-btn-disabled{
    padding:10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 50%;
    background-color: #f2f2f2;
}

.p-btn-disabled:focus{
    outline: none;
}

.card-input-container{
    margin-top: 15px;
}

.card-number-input{
    width: 100%;
    padding: 10px 10px 8px 10px;
    font-size: 15px;
    border: 1px solid #f2410a;
    border-radius: 10px;
}

.card-number-input:focus{
    outline: none;
}

.ig-left{
    padding-right:5px;
}

.ig-right{
    padding-left: 5px;
}

.p-link{
    text-decoration: none;
    color: #4286f4;
}

.p-link:hover{
    text-decoration: underline;
}